/* src/styles/style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.auth-page {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  padding: 30px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

button {
  background-color: #ff335e;
  color: #fff;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
}

button:hover {
   color: #d13044;
}

button:active {
  background-color: #ff335e;
}

button.hidden {
  background-color: transparent;
  border-color: #fff;
}

span {
  font-size: 12px;
  display: block;
  text-align: center;
  margin-top: 15px;
}

.auth-page button {
  background-color: #ff335e;
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-page button:hover {
  background-color: #ff335e;
}

.auth-page button:focus {
  outline: none;
}

.auth-page button.hidden {
  background-color: transparent;
  border-color: #fff;
}

/* Để các form login/signup thay đổi */
.auth-page .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-page .form-container input {
 
}

.auth-page .form-container button {
  width: 100%;
}
/* Cập nhật CSS cho phần auth-toggle */
.auth-toggle p {
  text-align: center; /* Căn giữa nội dung bên trong <p> */
  margin-top: 5px; /* Cung cấp khoảng cách phía trên */
}

.auth-toggle button:hover {
  color: #d13044;
}
button:hover {
  background-color: #ff1f3f; /* Thay đổi màu nền khi hover */
  transform: scale(1.05); /* Phóng to nút khi hover */
}
.remember-checkbox {
  background-color: transparent;  /* Không ảnh hưởng bởi background của input chung */
  border: 2px solid #ccc;         /* Đặt viền riêng cho checkbox */
  width: auto;                    /* Đảm bảo kích thước của checkbox tự động */
  height: auto;                   /* Đảm bảo checkbox không bị co lại */
  margin-right: 10px;             /* Khoảng cách giữa checkbox và label */
  transform: scale(1.2);          /* Tăng kích thước checkbox */
}

.nhomatkhau {
 margin-left: 10px;
  display: flex;
  align-items: center;
}